<div class="container" id="ConverterTab" ng-controller="ConverterCtrl as convert">		
  	<div class="jumbotron" id="ConverterBox">
        <h1>Converter</h1>
        <p class="lead">Video encoding and compression settings for <span class='text-primary'>{{convert.getSelectedFileName()}}</span></p>
		<table class="table table-bordered table-striped table-hover" style="text-align:left">
    		<thead>
    			<tr class="active">
    				<th></th>
    				<th class="warning">Original</th>
    				<th class="success">Recommended</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<th>Resolution</th>
    				<td class="warning">{{convert.currentResolution}}</td>
    				<td class="success">{{convert.recResolution}}</td>
    			</tr>
    			<tr>
    				<th>Aspect Ratio</th>
    				<td class="warning">{{convert.currentAspect}}</td>
    				<td class="success">{{convert.recAspect}}</td>
    			</tr>
				<tr>
					<th>Frame Rate</th>
					<td class="warning">{{convert.currentFR}}</td>
					<td class="success">{{convert.recFR}}</td>
				</tr>
				<tr>
					<th>Format</th>
					<td class="warning">{{convert.currentFormat}}</td>
					<td class="success">{{convert.recFormat}}</td>
				</tr>
				<tr>
					<th>Coder</th>
					<td class="warning">{{convert.currentCodec}}</td>
					<td class="success">{{convert.recCodec}}</td>
				</tr>
    		</tbody>
		</table>
     	<p style='text-align:center'><button class="btn btn-lg btn-primary" role="button" ng-click="convert.startConversion()" >Convert using recommended settings</button></p>	
     	<p ng-show="convert.showConversionStatus" class="text-primary">{{convert.conversionStatus}}</p>
	</div>
	
</div>  