<div class="container" id="UploadTab" ng-controller="UploadControl as upload">		
  	<div class="jumbotron" id="UploadBox">
        <h1>Upload</h1>
        <p class="lead">Let's get started by uploading a video. </p>
        <form name="UploadForm" novalidate style="text-align:left">
        	<div class="form-group">
			    <label for="fileName">Enter video name: </label>
			    <input type="text" ng-model="upload.fileName" class="form-control" id="fileName" placeholder="Enter name of video here e.g. Super14_Semi_Final_1st_Half" required>
			</div>
        	<div class="form-group">
		        <label for="fileSelector">Choose file</label>
    			<input type="file" file-model="upload.VideoFile" accept='video/*' class="form-control" id="fileSelector" required>		    			
    		</div>
			<p style='text-align:center'><button class="btn btn-lg btn-primary" role="button" ng-click="upload.uploadFile()" ng-disabled="UploadForm.$invalid||upload.VideoFile==null||upload.completed">Upload</button></p>
			</p>
		</form>
			<p class='text-primary'>{{upload.uploadStatus}}</p>    		
			<p><video ng-show="upload.showVideoPlayer" src={{upload.fullFilePath}} controls></video></p> 
			<p><button class="btn btn-lg btn-success" role="button" ng-click="tabs.currentTab=3" ng-show="upload.showConvertVideoButton" >Convert Video for Analysis</button></p>	 	
	</div>
	<video-table ng-show="upload.showVideoInformation"></video-table>
</div>  