<div class="container" id="VideoInfo">	    		
		<h2 style='text-align:center'>Video Upload Information</h2>
		<table class="table table-striped">
    		<thead></thead>
    		<tbody>
    			<tr>
    				<td>New video name</td>
    				<td>{{upload.fullFileName}}</td>
    			</tr>
    			<tr>
    				<td>Original video name</td>
    				<td>{{upload.originalFileInfo.name}}</td>
    			</tr>
				<tr>
					<td>File type</td>
					<td>{{upload.originalFileInfo.type}}</td>
				</tr>
				<tr>
					<td>Video size</td>
					<td>{{(upload.originalFileInfo.size/1000000)|number:2}} MB</td>
				</tr>

    		</tbody>
    	</table>
    </div>